<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head %>
</head>
<body>
    <div class="header">
        <% include ../partial/nav %>
    </div>
    <div class="container">
        <h2 class="title">SING UP</h2>
        <div class="form_area login">
            <form class="user-form form-horizontal" action="/users/signup" method="post">
                <div class="contentBox">
                    <fieldset>
                        <div class="fg form-group">
                            <label class="col-sm-3 mylabel control-label">email:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="email"/>
                            </div>
                        </div>
                        <div class="fg form-group">
                            <label class="col-sm-3 mylabel control-label">Password:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="password" name="password"/>
                            </div>
                        </div>
                        <div class="fg form-group">
                            <label class="col-sm-3 mylabel control-label">Username:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="username"/>
                            </div>
                        </div>
                        <div class="btn_box btns_signup">
                            <button class="btn" type="submit">Sign Up</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</body>
</html>